<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=block" rel="stylesheet">
    <title>Lil Shopping List</title>
</head>
<body>

    <div class="container">

        <div class="title">
            <img th:src="@{/images/new-po.svg}" alt="" class="title-image">
            <div>New Product Option</div>
        </div>

        <form action="#" th:action="@{/products/addPurchaseOption(id=${id})}" th:object="${purchaseOption}" method="POST" class="new-po-form">
            <!-- <input type="hidden" th:field="*{id}" /> -->
            <input type="text" th:field="*{link}" placeholder="Link"
            class="new-po-input mar-bot-10" regexp="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"/>
            <input type="text" th:field="*{shopName}" placeholder="Shop Name"
            class="new-po-input" regexp="\w+"/>
            <button type="submit" class="new-po-send blue-btn">Save</button>
        </form>
        
        <a th:href="@{/products/getPurchaseOptions(id=${id})}" class="back-btn">Back To Options List</a>
    </div>

    <script th:src="@{/js/new-product-option-validator.js}"></script>
</body>
</html>
